@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}


<environment>
    <link rel="stylesheet" href="/css/login.css" />
</environment>

<div class="info-signup">

    <div class="container">
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5 information">
                <h2 class="text-center">@ViewData["Title"]</h2>
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h4>Create a new account.</h4>
                    <hr />
                    @*<div asp-validation-summary="All" class="text-danger"></div>*@


                    <div class="form-group">
                        <label asp-for="Input.Name" class="control-label">Full Name:</label>
                        <input asp-for="Input.Name" class="form-control" />
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Input.Address" class="control-label">Address:</label>
                        <input asp-for="Input.Address"  class="form-control" />
                        <span asp-validation-for="Input.Address" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.Birthday" class="control-label">Birthday:</label>
                        <input asp-for="Input.Birthday" type="date" class="form-control" />
                        <span asp-validation-for="Input.Birthday" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Input.Phone" class="control-label">Phone:</label>
                        <input asp-for="Input.Phone" class="form-control" />
                        <span asp-validation-for="Input.Phone" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <span>
                            <input type="checkbox" id="checkbox_user_agree_to_term" name="user[agree_to_term]">
                            <label for="checkbox_user_agree_to_term">Creating an account means you’re okay with our Terms of Service, Privacy Policy, and our default Notification Settings.</label>
                        </span>
                    </div>
                    <div class="form-group submit">
                        <input type="submit" value="Register" class="btn btn-danger btn-md" />
                    </div>


                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
